@charset "UTF-8";

.exam_type_container {
    margin: 10px;
    width: 1180px;
    background: #fff;
    border-radius: 5px;
    padding: 50px;
    box-sizing: border-box;
    height: 587px;
}

.et_left {
    float: left;
}

.et_right {
    float: right;
}

.exam_type_container .iconfont {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url('../image/icon/arrow-1.png') no-repeat center bottom;
    background-size: 80%;
}

.exam_type_container td {
    padding: 30px 12px;
    font-size: 14px;
}

.exam_type_container td a {
    margin-left: 5px;
}

.exam_type_container td a:hover {
	text-decoration: underline;
}

.separate_line {
    margin-top: 10px;
}

.exam_type_title {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    vertical-align: top;
}

.et_title_icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../image/icon/arrow-grey-left.png') no-repeat;
    margin-top: 1px;
}

